.login_box {
    background-color: #fff;
    box-shadow: 3px 3px 5px #DCDCDC;
    text-align: center;
    padding: 50px;
    color: #8B8989;
    font-weight: bold;
    flex: 0 1 50%;
    margin-top: 35%;
}

.login_box_input {
    border: 1px solid #FF8C00;
    height: 30px;
    font-size: 20px;
    color: #999;
    margin: 10px;    
}