* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: verdana;
    background-color: #F5F5F5;
}

.geral {
    min-height: 100%;
    position: relative;
}

/* HEADER */

.logo_background {
    display: flex;
    flex: 0 1 100%;
    justify-content: center;
    background-color: #FF8C00;
}

.logo_box {
    flex: 0 2 50%;
    max-height: 120px;
    text-align: center;
}

    .logo_box img {
        max-height: 120px;
        width: 100%;
        height: 100%;
        max-width: 400px;
    }

.header_menu ul {
    padding: 10px;
    background-color: #F5F5F5;
    list-style: none;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}

    .header_menu ul li {
        display: inline;
    }

        .header_menu ul li a {
            padding: 5px 10px;
            display: inline-block;
            border-right: 1px solid #000;
            /* visual do link */
            font-weight: bold;
            background-color: #F5F5F5;
            color: #000;
            font-size: 11px;
            text-decoration: none;
        }

            .header_menu ul li a:hover {
                color: #FF8C00;
            }

/* END HEADER */

/* CONTENT */

.container {
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
}

/* POSTS */

.posts {
    flex: 0 3 65%;
    max-width: 1024px;
    background-color: #fff;
    margin: 1%;
    box-shadow: 3px 3px 5px #DCDCDC;
    min-height: 300px;
}

    .posts img {
        width: 100%;
    }

.post_text {
    font-size: 13px;
    text-align: center;
}

.post_fist_title {
    cursor: pointer;
    text-decoration: none;
    color: #FF8C00;
    font-weight: bold;
}

.post_second_title {
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    color: #999;
    font-size: 18px;
    font-weight: bold;
}

.post_text_content {
    text-align: justify;
    padding: 30px;
}

.post_separator {
    border-top: 1px solid #999;
    margin: 30px;
}

.post_author {
    font-style: italic;
    color: #999;
    padding: 0px 0px 30px 30px;
    text-align: left;
}

/* VISUAL DOS BOTÕES E INPUTS */

.orange_button {
    padding: 15px;
    color: #FF8C00;
    background-color: #fff;
    border: 1px solid #FF8C00;
}

    .orange_button:hover {
        background-color: #FF8C00;
        color: #fff;
        cursor: pointer;
    }

.orange_input {
    border: 1px solid #FF8C00;
    height: 30px;
    color: #999;
    margin: 10px;
}

/* END VISUAL DOS BOTÕES E INPUTS */

/* END POSTS */

/* END CONTENT */

/* FOOTER */

.footer_box {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #FF8C00;
    min-height: 20px;
    display: flex;
    justify-content: flex-end;
    color: #000;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
}

/* END FOOTER */
