* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: verdana;
    background-color: #F5F5F5;
}

.geral {
    min-height: 100%;
    position: relative;
}

/* HEADER */

.header_menu ul {
    padding: 10px;
    background-color: #F5F5F5;
    list-style: none;
    border-bottom: 1px solid #DCDCDC;
}

    .header_menu ul li {
        display: inline;
    }

        .header_menu ul li a {
            padding: 5px 10px;
            display: inline-block;
            border-right: 1px solid #DCDCDC;
            /* visual do link */
            font-weight: bold;
            background-color: #F5F5F5;
            color: #8B8989;
            font-size: 11px;
            text-decoration: none;
        }

            .header_menu ul li a:hover {
                color: #FF8C00;
            }

/* END HEADER */

/* CONTENT */

.container {
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
}

.item1 {
    flex: 0 2 50%;
    max-height: 200px;
    text-align: center;
    padding-top: 0.5%;
}

    .item1 img {
        max-height: 200px;
        width: 100%;
        max-width: 432px;
    }

/* POSTS */

.posts {
    flex: 0 3 65%;
    max-width: 1024px;
    background-color: #fff;
    margin: 1%;
    box-shadow: 3px 3px 5px #DCDCDC;
    min-height: 300px;
}

    .posts img {
        width: 100%;
    }

.post_text {
    font-size: 13px;
    text-align: center;
}

.post_fist_title {
    cursor: pointer;
    text-decoration: none;
    color: #FF8C00;
    font-weight: bold;
}

.post_second_title {
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    color: #999;
    font-size: 18px;
    font-weight: bold;
}

.post_text_content {
    text-align: left;
    padding: 20px;
}

.post_separator {
    border-top: 1px solid #999;
    margin: 30px;
}

.post_author {
    font-style: italic;
    color: #999;
    padding: 0px 0px 30px 30px;
    text-align: left;
}

.post_button {
    padding: 15px;
    color: #FF8C00;
    background-color: #fff;
    border: 1px solid #FF8C00;
}

    .post_button:hover {
        background-color: #FF8C00;
        color: #fff;
        cursor: pointer;
    }

/* END POSTS */

/* END CONTENT */

/* FOOTER */

.footer_box {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: grey;
    min-height: 20px;
    display: flex;
    justify-content: flex-end;
    color: #CDCDCD;
    font-size: 12px;
    line-height: 20px;
}

/* END FOOTER */
